@using (Html.BeginForm("NewImage", "ItemController", FormMethod.Post,
                                                    new { enctype = "multipart/form-data" }))
{
    <div class="col-md-4" id="newImage">
        <label for="file">Upload Image:</label>
        <input type="file" name="file" id="file" style="width: 100%;" />
        <label for="description">Description:</label>
        <textarea rows="4" cols="50" name="description">
         Describe the item you want to give away here
        </textarea>
        <input type="submit" value="Upload" class="submit" />
    </div>
}